.input {
    background: transparent;
    border: .2rem solid transparent;
    border-bottom: 0.2rem solid var(--primary);
    outline: none;
    text-align: center;
    font-size: 1.8rem;
    padding: 0.8rem;
    color: var(--text-default);
    transition: all .15s ease-in-out;
}

.input:focus {
    border: .2rem solid var(--primary);
    border-radius: .8rem;

}

.input::placeholder {
    color: var(--gray-500);
    font-size: 1.4rem;
    font-style: italic;
}

.input:disabled {
    border-bottom: 0.2rem solid var(--disabled);
    color: var(--text-muted);
}